@import "../../variables";

.container {
    width: 100%;
    height: 88%;
    color: white;
    padding-bottom: 32px;
    & .current-degree {
        font-size: 24px;
        margin-bottom: 24px;
        min-height: 32px;
    }
    & .options {
        width: calc(100% - 2px);
        margin-bottom: 24px;
        & .select-day {
            min-width: 200px;
        }
    }
    & .tabs-container {
        position: relative;
        max-width: 100%;
        & .tabs {
            gap: 16px;
            margin-bottom: 32px;
            position: relative;
            user-select: none;
            & .tab {
                width: fit-content;
                cursor: pointer;
            }
            & .tab-indicator {
                position: absolute;
                height: 2px;
                background-color: white;
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 100px;
                transition: left, width;
                transition-duration: 0.5s;
            }
        }

        & .back {
            cursor: pointer;
            position: absolute;
            left: 16px;
            top: 4px;
            width: 24px;
            height: 24px;
            filter: invert(100%) sepia(88%) saturate(0%) hue-rotate(237deg) brightness(103%) contrast(101%);
            -webkit-filter: invert(100%) sepia(88%) saturate(0%) hue-rotate(237deg) brightness(103%) contrast(101%);
        }
        @media (max-width: 360px) {
                margin-bottom:10px;
                .back{
                    top: 24px;
                }
        }
    }
    & .cards-container {
        // position: absolute;
        max-width: 100%;

        transition: transform 0.4s ease-in-out;
        &.flip-cards {
            transform: rotateY(90deg);
        }
        padding: 16px 0;
        background: rgba(10, 70, 120, 0.3);
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        color: white !important;
        width: 618px;
        height: 420px;
        flex-wrap: wrap;
        align-content: space-between;
        user-select: none;
        position: relative;
        max-width: calc(100% - 32px);
        gap: 16px;
        height: fit-content;
        // left: 0;
    }
}
.hour-data-container {
    & .hour-data {
        align-content: flex-start;
        & .time {
            width: 48px;
            text-align: end;
        }
        & .py-10px {
            padding: 10px 0;
        }
        & img {
            width: 48px;
            height: 48px;
        }
    }
}
