@import "../../../variables";

.cards-data {
    max-width: 100%;

    transition: transform 0.4s ease-in-out;
    &.flip-cards {
        transform: rotateY(90deg);
    }
    & .loading {
        position: absolute;
        font-size: 24px;
        height: 100%;
        width: 100%;
        background: rgba(10, 70, 120, 0.6);
        left: 0;
        top: 0;
        & .loading-sun {
            animation: loading-rotate 5s infinite ease-in-out;
        }
    }

    & .loaded {
        display: none;
    }


    & .daily-data {
        // background: rgba(10, 70, 120, 0.3);
        // border-radius: 10px;
        // box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        color: white !important;
        width: 618px;
        height: 420px;
        flex-wrap: wrap;
        align-content: space-between;
        user-select: none;
        position: relative;
        gap: 16px;
        height: fit-content;
        max-width: 100%;

        @media (max-width: 505px) {
            justify-content: center;
        }

        @keyframes loading-rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(1080deg);
            }
        }

        & .subscription-card-container {
            line-height: 1.4;
            padding: 8px;
            background: rgba(10, 70, 120, 0.3);
            border: 2px solid $primary-color;
            height: 180px;
            width: 146px;
            border-radius: 10px;
            box-shadow: 0 0 5px rgb(0 0 0 / 50%);
            color: white !important;
            cursor: pointer;
            & img {
                width: 80px;
                height: 80px;
                margin: 16px;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
            }
        }
    }
    & .hourly-data {
        display: none;
    }
    &.hourly {
        .daily-data {
            display: none;
        }
        .hourly-data {
            // background: rgba(10, 70, 120, 0.3);
            // border-radius: 10px;
            // box-shadow: 0 0 5px rgb(0 0 0 / 50%);
            color: white !important;
            width: 400px;
            height: 420px;
            flex-wrap: wrap;
            align-content: space-between;
            user-select: none;
            position: relative;
            max-width: 100% !important;
            gap: 16px;
            height: 60vh;
            max-height: 60vh;
            display: block !important;

            & .hours-list {
                padding: 0 16px;
                overflow: hidden auto;
                max-height: calc(100% - 32px);
                display: flex;
                flex-direction: column;
                gap: 4px;
                & .weather-img {
                    width: 32px;
                }

                & .real-feel-container {
                    min-width: 73px;
                    text-align: start;
                    & .real-feel {
                        margin-right: 3px;
                        font-size: 12px;
                    }
                }
                & .temp {
                    min-width: 64px;
                }
                & .time {
                    min-width: 48px;
                }
            }
            & .title {
                position: sticky;
                top: 0;
                width: 100%;
                padding: 10px 0;
                border-radius: 4px;
                background-color: #123451;

            }
        }
    }
}
@media (max-width: 435px) {
    .hourly-data {
        & .hours-list {
            padding: 0 8px !important;
            & .weather-img {
                display: none !important;
            }
        }
    }
}
