@import "../../../variables";

.current-day-info {
    max-width: 100%;
    width: 100%;
    padding: 16px;
    gap: 48px;
    & .info{
        width: 160px;
        & img {
            width: 100px;
            height: 100px;
        }
    }
        & .degree {
            font-size: 48px;
    }
}
@media (max-width: 450px) {
    .current-day-info {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}
