.App {
  text-align: center;
  height: 100vh;
  padding: 16px;
  color: white;
  overflow-y: auto;
  background-color: rgb(18,52,81);

  & .weather-container{
    margin-top: 5%;
    width: 615px;
    max-width: calc(100% - 48px);
  }
}
