.App {
  text-align: center;
  height: 100vh;
  padding: 16px;
  color: white;
  overflow-y: auto;

  & .img-br{
    position: fixed;
    filter: blur(7px);
    transform: scale(1.1);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
  }

  & .weather-container{
    margin-top: 5%;
    width: 615px;
    max-width: calc(100% - 48px);
  }

  & .footer{
    height: 32px;
  }
}
