@import "_variables";

body {
  margin: 0;
  overflow: hidden;
    font-family: system-ui;

}
//----flex style-----------------------
.f-row {
  display: flex;
  flex-direction: row;
}
.f-col {
  display: flex;
  flex-direction: column;
}
.j-center {
  justify-content: center;
}
.j-between {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}
//----border style---------------------
.br-4px {
  border-radius: 4px;
}

.b-black-1px {
  border: 1px solid black;
}

.b-primary-1px {
  border: 1px solid $primary-color;
}
